	body {
		background: #2a2a2a;
	}
	
	h1,h2,h3,h4,h5,h6,ul{
		color: white;
		font-family: Arial;
		padding-left: 30px;
		line-height: 120%;
	}
	
	h1{
		font-size: 36pt;
		text-align: center;
	}
	
	h2{
		font-size: 28pt;
	}
	
	h3{
		font-size: 24pt;
		color: #1b74f2;
	}
	
	h4{
		font-size: 18pt;
	}

	h5{
	    color: #1b74f2;
	    font-size: 20px

	}

	li{
		color: white;
		font-family: Arial;
	}

	p{
	    color: white;
        font-family: Arial;
        padding-left: 30px;
	}

    a:link {
        color: #1b74f2;
    }

    a:visited {
        color: #1b74f2;
    }

    a:hover {
        color: #1b74f2;
    }

    a:active {
        color: #1b74f2;
    }
	
	img.submenu {
		display: none;
	}

	h7:hover img.submenu {
		display: block;
	}
