
/* --------------------------------------------------------------------------------------------------> Generics Start */

.gridPane{
    -fx-background-color: #2a2a2a;
}

.flowPane{
    -fx-background-color: #2a2a2a;
}

.titledPane{
    -fx-text-fill: #1b74f2;
    -fx-font-size: 15px;
    -fx-border-color: #2a2a2a;
}

.titledPane > .title
{
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titledPane > .title > .arrow-button
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titledPane > .title > .arrow-button .arrow
{
-fx-background-color: white
-fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titledPane > *.content{
    -fx-border-color: transparent;
}


.lbl{
    -fx-font-size: 40px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lblLar{
    -fx-font-size: 45px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lblMed{
    -fx-font-size: 25px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lbl1{
    -fx-font-size: 45px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lbl2{
    -fx-font-size: 40px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lbl3{
    -fx-font-size: 35px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lbl4{
    -fx-font-size: 30px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.lbl5{
    -fx-font-size: 25px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

/** -------------------------------------------------------> Buttons Start */

.btn{
    -fx-background-color: transparent;
    -fx-padding: 5 22 5 22;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.btn:hover{
    -fx-background-color: #636363;
}

.rootBtn{
    -fx-background-color: transparent;
    -fx-padding: 5 22 5 22;
    /* -fx-border-color: #FFFFFF; */
    -fx-border-width: 8;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.rootBtn:hover{
    -fx-background-color: #636363;
}

.branchBtn{
    -fx-background-color: transparent;
    -fx-padding: 5 22 5 22;
    /* -fx-border-color: #FFFFFF; */
    -fx-border-width: 8;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.branchBtn:hover{
    -fx-background-color: #636363;
}

.leafBtn{

}

.leafBtn:hover{
    -fx-background-color: #636363;
}


/** -------------------------------------------------------> Buttons End */

.textField{
    -fx-background-color: #363636;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.radioBtn{
    -fx-text-fill: white;
}

.radioBtn .dot{
  -fx-mark-color: white ;
}

.radioBtn . radio{
   -fx-background-color: transparent;
   -fx-background-insets: 0 0 -1 0,  0,  1,  2;
   -fx-background-radius: 1.0em;
   -fx-padding: 0.333333em;
   -fx-border-color: #e2e2e2;
   -fx-border-width: 2;
   -fx-border-radius: 1.0em;
}

/* ----------------------------------------------------------------------------------------------------> Generics End */


/* -----------------------------------------------------------------------------------------------------> Login Start */

.loginPane{
    -fx-background-color: #2a2a2a;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

.loginSystemBtn{
    -fx-graphic: url("../img/styleDark/System/systemBtnSmall.png");
    -fx-background-color: transparent;
}

.loginSystemBtn:hover{
    -fx-graphic: url("../img/styleDark/System/systemBtnSmallHover.png");
    -fx-background-color: transparent;
}

.loginTextField{
    -fx-background-color: #363636;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

.loginBtn{
    -fx-background-color: #363636;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

.loginBtn:hover{
    -fx-text-fill: #363636;
    -fx-background-color: white;
}

.signupBtn{
    -fx-background-color: #363636;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

.signupBtn:hover{
    -fx-text-fill: #363636;
    -fx-background-color: white;
}

.errorLbl{
    -fx-text-fill: red;
}

/* -------------------------------------------------------------------------------------------------------> Login End */


.rootPane{
    -fx-background-color: #2a2a2a;
}


/* ---------------------------------------------------------------------------------------------------> Top Bar Start */

.topPanel{
    -fx-background-color: #363636; /* Other Color Options: #4A4A4A*/
}

.systemBtn{
    -fx-graphic: url("../img/styleDark/System/systemBtn.png");
    -fx-background-color: transparent;
}

.systemBtn:hover{
    -fx-graphic: url("../img/styleDark/System/systemBtnHover.png");
    -fx-transition: all 5s ease-in-out;
}

/*
.systemBtnSmall{
    -fx-graphic: url("../img/styleDark/System/systemBtnSmall.png");
    -fx-background-color: transparent;
}

.systemBtnSmall:hover{
    -fx-graphic: url("../img/styleDark/System/systemBtnSmallHover.png");
    -fx-background-color: transparent;
}*/

.searchBar{
    -fx-background-image:url("../img/styleDark/searchIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-color: #2a2a2a;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.calcBtn{
    -fx-graphic: url("../img/styleDark/calculatorBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.calcBtn:hover{
    -fx-background-color: #636363;
}

.saveBtn{
    -fx-graphic: url("../img/styleDark/saveBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.saveBtn:hover{
    -fx-background-color: #636363;
}

/* -----------------------------------------------------------------------------------------------------> Top Bar End */


/* -------------------------------------------------------------------------------------------> Navigation Pane Start */

.navigationPane{
    -fx-background-color: #363636;
}

.leftPaneBtnSelected{
    -fx-background-color: #2a2a2a;
}

.navBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/btnSelected.png");
}

.dashboardBtn{
    -fx-graphic: url("../img/styleDark/Navigation/dashboardBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.dashboardBtn:hover{
    -fx-background-color: #636363;
}

.dashboardBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/dashboardBtnSelected.png");
}

.profileBtn{
    -fx-graphic: url("../img/styleDark/Navigation/profileBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.profileBtn:hover{
    -fx-background-color: #636363;
}

.profileBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/profileBtnSelected.png");
}

.coursesBtn{
    -fx-graphic: url("../img/styleDark/Navigation/coursesBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.coursesBtn:hover{
    -fx-background-color: #636363;
}

.coursesBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/coursesBtnSelected.png");
}

.notebookBtn{
    -fx-graphic: url("../img/styleDark/Navigation/notebookBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.notebookBtn:hover{
    -fx-background-color: #636363;
}

.notebookBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/notebookBtnSelected.png");
}

.simsBtn{
    -fx-graphic: url("../img/styleDark/Navigation/simulationsBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.simsBtn:hover{
    -fx-background-color: #636363;
}

.simsBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/simulationsBtnSelected.png");
}

.textEditorBtn{
    -fx-graphic: url("../img/styleDark/Navigation/textEditorBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.textEditorBtn:hover{
    -fx-background-color: #636363;
}

.textEditorBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/textEditorBtnSelected.png");
}

.wolframBtn{
    -fx-graphic: url("../img/styleDark/Navigation/wolframAlphaBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.wolframBtn:hover{
    -fx-background-color: #636363;
}

.wolframBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/wolframAlphaBtnSelected.png");
}

.wikipediaBtn{
    -fx-graphic: url("../img/styleDark/Navigation/wikipediaBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.wikipediaBtn:hover{
    -fx-background-color: #636363;
}

.wikipediaBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/wikipediaBtnSelected.png");
}

.settingsBtn{
    -fx-graphic: url("../img/styleDark/Navigation/settingsBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.settingsBtn:hover{
    -fx-background-color: #636363;
}

.settingsBtnSelected{
    -fx-graphic: url("../img/styleDark/Navigation/settingsBtnSelected.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

/* ---------------------------------------------------------------------------------------------> Navigation Pane End */

.centerPanel{
    -fx-background-color: #2a2a2a;
}

.chatBox{
    -fx-background-color: #363636;
}


/** ---------------------------------------------------------------------------------------------> Media Player Start */

.playBtn{
    -fx-graphic: url("../img/styleDark/System/playBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.playBtn:Hover{
    -fx-background-color: #636363;
}

.pauseBtn{
    -fx-graphic: url("../img/styleDark/System/pauseBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.pauseBtn:Hover{
    -fx-background-color: #636363;
}

.volumeBtn{
    -fx-graphic: url("../img/styleDark/System/volumeActiveBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.volumeMuteBtn{
    -fx-graphic: url("../img/styleDark/System/volumeMuteBtn.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.timeLbl{
        -fx-font-size: 15px;
        -fx-font-family: "Arial";
        -fx-text-fill: #1b74f2;
}

.mediaBox{
    -fx-background-color: #363636;
}

.mediaProgressBar{

}

/** -----------------------------------------------------------------------------------------------> Media Player End */

.calcToolBtn{

}


.slider .thumb{
    -fx-background-color: #1b74f2;
}



/* -------------------------------------------------------------------------------------------------> Text Area Start */

.textArea{
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-text-fill: white;
}

.textArea, .textArea .content{
    -fx-background-color: #363636;
    -fx-border-color: #363636;
    -fx-border-radius: 0;
}

.textArea .scroll-bar:vertical ,
.textArea .scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.textArea .increment-button ,
.textArea .decrement-button{
    -fx-background-color: transparent;
}

.textArea .scroll-bar:vertical .track ,
.textArea .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.textArea .scroll-bar:vertical .thumb ,
.textArea .scroll-bar:horizontal .thumb{
    -fx-background-color: derive(gray,80%);
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0em;
}

.textArea .scroll-bar .thumb ,
.textArea .scroll-bar .thumb{
    -fx-background-color: derive(gray,50%);
}

/* ---------------------------------------------------------------------------------------------------> Text Area End */



/* -----------------------------------------------------------------------------------------------> Scroll Pane Start */

.scrollPane{
    -fx-background: #2a2a2a;
    -fx-background-insets: 0,0,0;
}

.scrollPane .scroll-bar:vertical ,
.scrollPane .scroll-bar:horizontal{
    -fx-background-color: #2a2a2a;
}

.scrollPane .increment-button ,
.scrollPane .decrement-button{
    -fx-background-color: #2a2a2a;
}

.scrollPane .scroll-bar:vertical .track ,
.scrollPane .scroll-bar:horizontal .track{
    -fx-background-color: #2a2a2a;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scrollPane .scroll-bar:vertical .thumb ,
.scrollPane .scroll-bar:horizontal .thumb{
    -fx-background-color: white;
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0em;
}

.scrollPane .scroll-bar .thumb ,
.scrollPane .scroll-bar .thumb{
    -fx-background-color: white;
}

/* -------------------------------------------------------------------------------------------------> Scroll Pane End */

.flowPane{
    -fx-background-color: #2a2a2a;
}

.vbox{
    -fx-background-color: #2a2a2a;
}


/* --------------------------------------------------------------------------------------------------> Web view Start */

.webView{
    -fx-background-insets: 0,0,0;
}

.webView .scroll-bar:vertical ,
.webView  .scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.webView .increment-button ,
.webView .decrement-button{
    -fx-background-color: transparent;
}

.webView .scroll-bar:vertical .track ,
.webView .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.webView .scroll-bar:vertical .thumb ,
.webView .scroll-bar:horizontal .thumb{
    -fx-background-color: derive(#7e7e7e, 80%);
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0em;
}

.webView .scroll-bar .thumb ,
.webView .scroll-bar .thumb{
    -fx-background-color: derive(#7e7e7e, 80%);
}

/* ----------------------------------------------------------------------------------------------------> Web view End */


/* ------------------------------------------------------------------------------------------------> Pagination Start */

.pagination {
    -fx-border-color:  null;
}

.pagination .page {
    -fx-background-color: #DDF1F8;
    -fx-background-color: #2a2a2a;

}

.pagination .pagination-control {
    -fx-background-color: #363636;
}

.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, white;
}

.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, #0E5D79;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #DDF1F8, #0E5D79;
}

/* --------------------------------------------------------------------------------------------------> Pagination End */


/* ----------------------------------------------------------------------------------------------> Profile Pane Start */

.profilePictureBtn{
    -fx-graphic: url("../img/styleDark/profilePictureButton.png");
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.profilePictureBtn:hover{
    -fx-background-color: #636363;
}


.profileInfoContentLbl{
    -fx-font-size: 20px;
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
}

.profileInfoContentLbl:hover{
    -fx-text-fill: #1b74f2;
}

.profileInfoLbl{
    -fx-font-size: 20px;
    -fx-font-family: "Courier New";
    -fx-text-fill: #1b74f2;
}

/* ------------------------------------------------------------------------------------------------> Profile Pane End */


/* -----------------------------------------------------------------------------------------------------> Chart Start */

.chart-title{
    -fx-text-fill: #1b74f2;
}

.axis {
    -fx-font-size: 1.0em;
    -fx-tick-label-fill: white;
    -fx-font-family: Tahoma;
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color0.chart-series-line { -fx-stroke: #1b74f2;}
.default-color0.chart-line-symbol { -fx-background-color: #1b74f2;}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: gray;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-legend-item{
    -fx-text-fill: transparent;
}

.axis-label {
  -fx-text-fill: #1b74f2;
}

/* -------------------------------------------------------------------------------------------------------> Chart End */


/* --------------------------------------------------------------------------------------------------> Tab Pane Start */

.tabPane{
    -fx-tab-min-width:90px;
    -fx-background-color: #2a2a2a;
}

.tab{
    -fx-background-color: #2a2a2a;
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-radius: 0em;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #1b74f2;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tabPane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.tabPane{
    -fx-background-color: #2a2a2a;
}

/* -------------------------------------------------------> Video Tab Start */

.vidTitleLbl{
     -fx-font-size: 28px;
     -fx-font-family: "Arial";
     -fx-text-fill: white;
 }

.vidAuthorLbl{
    -fx-font-size: 22px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

/* -------------------------------------------------------> Video Tab End */

/* ----------------------------------------------------------------------------------------------------> Tab Pane End */

/* --------------------------------------------------------------------------------------------------> Menu Bar Start */

.menuBtn {
    -fx-background-color: transparent;
}

.menuBtn .label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
 }

 .menuBtn:showing .label {
     -fx-font-size: 18px;
     -fx-text-fill: white;
     -fx-background-color: #1b74f2;
  }

 .menu { /* The File menu item */ }
 .menu:showing { /* menu when it's being shown (activated) */ }
 .menu .label { /* Styles the text on a menu item */ }
 .menu:showing .label {
    /* Styles the text on a menu item when activated */
 }

 .context-menu {
     -fx-background-color: #2a2a2a;
     -fx-background-insets: 0, 1, 2;
     -fx-background-radius: 0em;
 /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
     -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
 }

/* ----------------------------------------------------------------------------------------------------> Menu Bar End */


/* ----------------------------------------------------------------------------------------------------> Search Start */
.searchResultItem{
    -fx-background-color: #2a2a2a
}

.searchResultTitleLbl{
     -fx-font-size: 28px;
     -fx-font-family: "Arial";
     -fx-text-fill: white;
 }

.searchResultTitleLbl{
    -fx-font-size: 22px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

/* ------------------------------------------------------------------------------------------------------> Search End */

.calcField{
    -fx-background-color: #363636;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.calc{
    -fx-background-color: #363636;
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}